body {
    font-family: "Roboto", sans-serif;
}

#sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#sidebar hr {
    border: 0;
    margin: 0;
    left: -1px;
    opacity: 0.5;
    height: 5rem;
    position: relative;
    border-left: 1px solid black;
}

#sidebar .socials {
    flex-direction: column-reverse;
}

.socials {
    display: flex;
}

.socials a {
    opacity: 0.5;
    color: #1c1c1c;
    margin: 0rem 1rem 1rem 1rem;
}

.socials a:hover {
    opacity: 1;
    animation: focus 0.5s;
}

@keyframes focus {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

#canvas {
    margin: 0rem 0rem 0rem 3rem;
}

.heading {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-family: "Kaushan Script", cursive;
}

.sub-heading {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.font-light {
    font-weight: 300;
}

.crimson {
    color: #dc143c;
}

#home {
    margin: 2rem;
    text-align: center;
}

.sub-text {
    color: grey;
    font-weight: 300;
    font-size: 0.75rem;
}
